<li class="game-card" data-id="{{id}}">
    <div class="game-card__img">
        <img alt="image" class="lazyload" data-src="{{images.[0]}}" src="https://wallpaperaccess.com/full/1457170.jpg">
    </div>
    <div class="game-card__name">{{name}}</div>
    <div class="game-card__price">USD {{price}}</div>
</li>