<li class="game-card" data-id="{{id}}">
    <div class="game-card__img">
        <img alt="image" class="lazyload" data-src="{{images.[0]}}" src="https://wallpapercave.com/wp/wp11472920.jpg">
    </div>
    <div class="game-card__name">{{name}}</div>
    <div class="game-card__price">UAH {{price}}</div>
</li>