<li class="game-card" data-id="{{id}}">
    <div class="game-card__img">
        <img src="{{images.[0]}}">
    </div>
    
</li>

{
      "name": "Bespoke Rubber Fish",
      "author": "Stuart Stiedemann",
      "publisher": "Mueller - Oberbrunner",
      "date_release": "2022-09-01T01:24:01.265Z",
      "price": 9314,
      "sale": 24,
      "homepage": "https://awesome-voter.biz",
      "images": [
        "https://loremflickr.com/1920/1080/game?lock=38344",
        "https://loremflickr.com/1920/1080/game?lock=47766",
        "https://loremflickr.com/1920/1080/game?lock=79172",
        "https://loremflickr.com/1920/1080/game?lock=81216"
      ],
      "media": [
        "https://loremflickr.com/1920/1080/game?lock=52889",
        "https://loremflickr.com/1920/1080/game?lock=47997",
        "https://loremflickr.com/1920/1080/game?lock=56804",
        "https://loremflickr.com/1920/1080/game?lock=39278"
      ],
      "os": "Windows",
      "genres": [
        "Non Music",
        "Blues",
        "Metal"
      ],
      "desc": "Deserunt perferendis ipsam. Sapiente quo odit at at maiores molestiae quod quod. Totam porro dolorum dicta nam officia. Fugit deleniti hic optio totam beatae commodi.\nQui impedit cum esse ipsum. Aspernatur perferendis ad natus sed iste dolor. Laboriosam hic saepe fuga in corporis iste. Saepe quidem architecto ipsa reiciendis est.\nDolores dolorem corporis explicabo nobis enim omnis nemo. Excepturi accusantium iure culpa doloribus. Architecto mollitia dolorem culpa consequuntur repellat mollitia occaecati numquam commodi. Molestiae velit error quia quis vitae. Animi enim odit quo sequi tenetur ipsam id.",
      "id": 1
    }