input {
    background: $bg-secondary;
    outline: none;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 230px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(245, 245, 245);

    padding: 0 20px;

    font-size: medium;
}

input:valid,
textarea:valid {
    box-shadow: rgba(59, 158, 69, 0.15) 0px 2px 5px -1px, rgba(59, 158, 69, 0.25) 0px 1px 3px -1px !important;

}

input:invalid,
textarea:invalid {
    box-shadow: rgba(158, 59, 59, 0.15) 0px 2px 5px -1px, rgba(255, 0, 0, 0.25) 0px 1px 3px -1px !important;

}