input{
    background: $bg-secondary;
    outline: none;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 230px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(245, 245, 245);

    padding: 0 20px;

    font-size: medium;
}