select.custom-select {
  color: $text;
  outline: none;
  border-radius: 10px;
  font-size: medium;
  min-width: 150px;
  height: fit-content;
  appearance: none;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.454);
  background-color: $bg-primary;
}

select::-ms-expand {
  display: none;
}

.select {
  color: $text;
  outline: none;
  border-radius: 10px;
  font-size: medium;

  padding: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;

  &>:nth-child(1) {
    margin-bottom: 20px;
    color: $text-gray;
    width: fit-content;
  }
}

.select input {

  width: fit-content;
  margin: 5px;
  height: fit-content;
  font-size: small;
  margin-right: 10px;

  &:valid {
    box-shadow: none !important;
  }
}

.open-select {
  animation: openSelect 5s ease-in-out;
}

.close-select {
  animation: closeSelect 5s ease-in-out;
}


@keyframes openSelect {
  from {
    height: 70px;
  }

  to {
    height: 500px;
  }
}


@keyframes closeSelect {
  from {
    height: 500px;
  }

  to {
    height: 70px;
  }
}