select.custom-select {
  color: $text;
  outline: none;
  border-radius: 10px;
  font-size: medium;
  width: fit-content;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.454);
  background-color: $bg-primary;
}

select::-ms-expand {
  display: none;
}