.auth-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.auth-form {
    min-width: 300px;
    max-width: 500px;
    min-height: 20vh;

    background: $bg-secondary;
    box-shadow: .8rem .8rem 1.4rem rgba(32, 32, 32, 0.184),
        -.2rem -.2rem 1.8rem rgba(13, 13, 13, 0.186);
    border-radius: 10px;
    padding: 60px 60px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h1 {
        margin-bottom: 40px;
    }

    div {
        width: 100%;
    }

    input {
        color: #f5f5f5;
        background: none;
        border: none;
        border-radius: 1rem;
        padding: 25px 0;
        padding-left: 1.4rem;
        font-family: inherit;
        font-size: 1.4rem;

        border: 1px solid black;
        width: 100%;
        margin: 5px 0;

        &:focus {
            outline: none;
        }
    }

    .btn {
        margin-top: 10px;
    }
}