body.show .backdrop {
    visibility: visible;
    display: flex;
    opacity: 1;
}

.backdrop {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    padding: 100px 0;

    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #5e5e5e91;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(3px);

    visibility: hidden;
    display: none;
    opacity: 0;
    transition: all 1s;
    overflow-y: auto;
}

.modal {
    position: relative;
    min-width: 500px;
    border-radius: 15px;
    background-color: $bg-secondary;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: fit-content;
}