.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: fit-content;
    width: 100%;
    padding: 50px;
    height: fit-content;

    input[type]:not([type='checkbox']),
    textarea,
    .select {
        background: none;
        border: none;
        border-radius: 1rem;
        padding: 25px 0;
        padding-left: 1.4rem;
        font-family: inherit;
        font-size: 1.4rem;

        border: 1px solid black;
        width: 100%;
        margin: 5px 0;

        &:focus {
            outline: none;
            box-shadow: rgba(158, 59, 59, 0.15) 0px 2px 5px -1px, rgba(255, 0, 0, 0.25) 0px 1px 3px -1px;
        }
    }

    textarea {
        resize: none;
        font-size: large;
        height: auto;
        min-height: 300px;

        &:focus {
            outline: none;
        }
    }

    .select {
        border: 1px solid black;
        width: 100%;
        margin: 5px 0;

        span {
            color: $text-gray;
        }
    }
}

.empty-page{
    margin:auto auto;
    height: fit-content;
    max-width: 700px;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $bg-secondary;
    border-radius: 15px;
    padding: 20px;

    span{
        font-size: xx-large;
        text-align: center;
        margin: 20px;
    }

    .btn{
        max-width: 200px;
        margin:20px
    }
}