<div class="container">
    <div class="nav-container">
        <div class="input">
            <input type="text">
        </div>

            <select class="custom-select">
              <option value="null">Сортировка</option>
              <option value="1">По названию</option>
              <option value="2">По рейтингу</option>
              <option value="3">По скачиваниям</option>
              <option value="4">По дате</option>
            </select>
        <select class="custom-select">
            <option value="null">Жанр</option>
            <option value="1">По названию</option>
            <option value="2">По рейтингу</option>
            <option value="3">По скачиваниям</option>
            <option value="4">По дате</option></select>
        <select class="custom-select">
            <option value="null">Рейтинг</option>
              <option value="1">По названию</option>
              <option value="2">По рейтингу</option>
              <option value="3">По скачиваниям</option>
              <option value="4">По дате</option>
        </select>
    </div>


    <div>

    </div>
    
    <ul class="game_list js-game-list">
        <img src="./images/404.png" alt="" style="margin-top:70px; opacity:0">
    </ul>

</div>