<div class="container game-info">
    <div class="game-header">
        <h2 class="js-game-title">Dota 2</h2>
        <include src="./layouts/stars.html"></include>
    </div>
    <div class="game-body">
        <div class="game-body__left">
            <div class="game-img">
                <img class="lazyload" src="https://cdn.mos.cms.futurecdn.net/sF8rMpXn8oLKSRN7D8evPh-320-80.jpg" data-src="https://source.unsplash.com/1920x1080/?random=38344&game" alt="game">
            </div>

            <div class="game-desc">
                <h4 class="js-game-name">Dota 2</h4>
                <div class="js-game-desc">
                </div>
               
                <div class="game-gallery">

                </div>
                <div class="bottom-shadow"></div>
            </div>
            <button class="btn js-btn-more-info">SHOW MORE</button>
            <div class="game-spec">
                <span>Specifications</span>
                <div> 
                    <div class="spec-header">
                        <span>Minimum</span>
                        <span>Recommend</span>
                    </div>
                    
                    <hr>
                    <div class="fb">
                        <ul class="js-min-specs">
                        </ul>
                        <ul  class="js-recommend-specs">
                        </ul>
                    </div>
                    
                    <div class="spec-footer">
                        <p>Copyright ©2022 Pikimell. All rights Reserved. The Rebellion name and logo, the Zombie Army name and logo are trademarks of Rebellion and may be registered trademarks in certain countries.</p>
                        <p>Privacy Policy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-body__right">
            <div class="game-poster">
                <img src="https://styles.redditmedia.com/t5_2udvx/styles/communityIcon_o568jgj61su51.png" data-src="https://source.unsplash.com/1080x1920/?random=38344&game" alt="game" class="lazyload">
            </div>
            
            <div class="list-btn">
                <button class="btn btn-primary js-buy-btn">Buy Now</button>
                <button class="btn js-cart-btn">Add to Cart</button>
                <button class="btn js-washlist-btn">Add to WashList</button>
            </div>
            

            <ul class="list-info">
                <li><span>Developer</span> <span class="js-game-developer">Pikimell</span></li>
                <li><span>Publisher</span> <span class="js-game-publisher">Pikimell</span></li>
                <li><span>Release Date</span> <span class="js-game-release">12/08/2001</span></li>
                <li><span>Platform</span> <span class="js-game-platform">Windows</span></li>
                <li><span>Price (UAH)</span> <span class="js-game-price">1000</span></li>
            </ul>

            <div class="footer-list-btn">
                <button class="btn">Share</button>
                <button class="btn">Report</button>
            </div>
        </div>
    </div>
</div>