<div class="container game-info">
    <div class="game-header">
        <h2>Dota 2</h2>
        <include src="./layouts/stars.html"></include>
    </div>
    <div class="game-body">
        <div class="game-body__left">
            <div class="game-img">
                <img class="lazyload" src="https://cdn.mos.cms.futurecdn.net/sF8rMpXn8oLKSRN7D8evPh-320-80.jpg" data-src="https://source.unsplash.com/1920x1080/?random=38344&game" alt="game">
            </div>

            <div class="game-desc">
                <h4>Dota 2</h4>

                <div>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique praesentium ducimus eligendi quibusdam quis impedit eaque, nobis aliquam exercitationem nostrum alias atque molestiae, sapiente qui. Sint accusantium fugit ex delectus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora nisi sed a harum temporibus labore soluta esse eos amet nobis ipsam, at est cum placeat animi. Facere esse fuga voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab pariatur nostrum et asperiores, adipisci quidem aliquid hic aliquam, deleniti, sint minus. Unde beatae delectus nostrum impedit ducimus dolor! Eveniet, eum.</p>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique praesentium ducimus eligendi quibusdam quis impedit eaque, nobis aliquam exercitationem nostrum alias atque molestiae, sapiente qui. Sint accusantium fugit ex delectus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora nisi sed a harum temporibus labore soluta esse eos amet nobis ipsam, at est cum placeat animi. Facere esse fuga voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab pariatur nostrum et asperiores, adipisci quidem aliquid hic aliquam, deleniti, sint minus. Unde beatae delectus nostrum impedit ducimus dolor! Eveniet, eum.</p>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique praesentium ducimus eligendi quibusdam quis impedit eaque, nobis aliquam exercitationem nostrum alias atque molestiae, sapiente qui. Sint accusantium fugit ex delectus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora nisi sed a harum temporibus labore soluta esse eos amet nobis ipsam, at est cum placeat animi. Facere esse fuga voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab pariatur nostrum et asperiores, adipisci quidem aliquid hic aliquam, deleniti, sint minus. Unde beatae delectus nostrum impedit ducimus dolor! Eveniet, eum.</p>    
                </div>
               
                <div class="game-gallery">

                </div>  
                <div class="bottom-shadow"></div>
            </div>
            <button class="btn js-btn-more-info">SHOW MORE</button>
            <div class="game-spec">
                <span>Specifications</span>
            </div>
        </div>
        <div class="game-body__right">
            <div class="game-poster">
                <img src="https://styles.redditmedia.com/t5_2udvx/styles/communityIcon_o568jgj61su51.png" data-src="https://source.unsplash.com/1080x1920/?random=38344&game" alt="game" class="lazyload">
            </div>

            <div class="list-btn">
                <button class="btn btn-primary">Buy Now</button>
                <button class="btn">Add to Cart</button>
                <button class="btn">Add to WashList</button>
            </div>
            

            <ul class="list-info">
                <li><span>Developer</span> <span>Pikimell</span></li>
                <li><span>Publisher</span> <span>Pikimell</span></li>
                <li><span>Release Date</span> <span>12/08/2001</span></li>
                <li><span>Platform</span> <span>Windows</span></li>
            </ul>

            <div class="footer-list-btn">
                <button class="btn">Share</button>
                <button class="btn">Report</button>
            </div>
        </div>
    </div>
</div>