<div class="container game-info">
    <div class="game-header">
        <h2>Header Name for this games</h2>
    </div>
    <div class="game-body">
        <div class="game-body__left">
            <div class="game-img">
                <img src="https://source.unsplash.com/1920x1080/?random=38344&game" alt="game">
            </div>

        </div>
        <div class="game-body__right">
            <div class="game-poster">
                <img src="https://source.unsplash.com/1080x1920/?random=38344&game" alt="game">
            </div>

            <div class="list-btn">
                <button class="btn btn-primary">Buy Now</button>
                <button class="btn">Add to Cart</button>
                <button class="btn">Add to WashList</button>
            </div>
            

            <ul class="list-info">
                <li><span>Developer</span> <span>Pikimell</span></li>
                <li><span>Publisher</span> <span>Pikimell</span></li>
                <li><span>Release Date</span> <span>12/08/2001</span></li>
                <li><span>Platform</span> <span>Windows</span></li>
            </ul>

            <div class="footer-list-btn">
                <button class="btn">Share</button>
                <button class="btn">Report</button>
            </div>
        </div>
    </div>
</div>