<div class='header-container'>
  <div class="header-logo"><a href="./">
      <h2>GameStore</h2>
    </a></div>
  <div class="header-nav">
    <div><a href="./" class="js-store-link">Store</a></div>
    <div><button class="js-cart-link">Cart List</button></div>
    <div><button class="js-wishlist-link">Wish List</button></div>
    <div><button class="js-wishlist-link">My Games</button></div>
  </div>
  <div class="header-auth">
    <button href="./index.html" class="js-logout">LogOut</button>
    <a href="./auth.html" class="js-login">LogIn</a>
  </div>
</div>