<div class='header-container'>
  <div class="header-logo"><a href="./">
      <h2>GameStore</h2>
    </a></div>
  <div class="header-nav">
    <div><a href="./" class="active-link">Store</a></div>
    <div><a href="#">FAQ</a></div>
    <div><a href="#">HELP</a></div>
    <div><a href="#">AUTHOR</a></div>
  </div>
  <div class="header-auth">
    <button href="./cart.html" class="js-cart-link">CartList</button>
    <button href="./cart.html" class="js-wishlist-link">WishList</button>
    <button href="./index.html" class="js-logout">LogOut</button>
    <a href="./auth.html" class="js-login">LogIn</a>
  </div>
</div>