<div class="backdrop">
    <div class="modal">
        <form class="create-form">
            <input name="game_name" type="text" placeholder="Game Name" required minlength="10">
            <input name="game_name" type="url" placeholder="Homepage (url)" required minlength="10">
            <input name="game_author" type="text" placeholder="Author" required minlength="10">
            <input name="game_name" type="text" placeholder="Publisher" required minlength="10">
            <div class="select js-ganres-list">
            </div>
            <textarea name="game_desc" type="login" placeholder="Description" required minlength="10"></textarea>

            <button class="btn btn-primary">Add Game</button>
        </form>
    </div>
</div>