<div class="backdrop">
    <div class="modal">
        <form class="create-form js-create-form">
            <input name="game_name" type="text" placeholder="Game Name" required minlength="5">
            <input name="game_name" type="url" placeholder="Homepage (url)" required minlength="5">
            <input name="game_author" type="text" placeholder="Author" required minlength="3">
            <input name="game_name" type="text" placeholder="Publisher" required minlength="3">
            <div class="select js-genres-list">
            </div>
            <textarea name="game_desc" type="login" placeholder="Description" required minlength="50"></textarea>

            <button class="btn btn-primary" type="submit">Add Game</button>
        </form>
    </div>
</div>

