<div class="backdrop">
    <div class="modal">
        <form class="create-form js-report-form hide" method="POST">

            <input type="hidden" name="access_key" value="87ed5e02-4775-48a0-a247-6c8c8ae0fb0b">

            <input type="text" name="name" required placeholder="Name">
            <input type="email" name="email" required placeholder="Email">
            <textarea name="message" required placeholder="Your message"></textarea>

            <button class="btn" type="submit">Send</button>
        </form>

        <div class="js-test">

        </div>
    </div>
</div>