<div class="backdrop" style="justify-content: center;">
    <div class="modal">
        <form class="create-form js-report-form hide" method="POST">

            <input type="hidden" name="access_key" value="87ed5e02-4775-48a0-a247-6c8c8ae0fb0b">

            <input type="text" name="name" required placeholder="Name">
            <input type="email" name="email" required placeholder="Email">
            <textarea name="message" required placeholder="Your message"></textarea>

            <button class="btn" type="submit">Send</button>
        </form>

        <div class="js-paypal">

        </div>

        <div class="succes-pay-pal js-succes">
            <span>Your Promocode is</span>
            <h3>
                FCVFCVVFC
            </h3>
            <span>
                You can use it on the official website of the game during the month
            </span>
        </div>
    </div>
</div>