<form class="auth-form js-auth-form">
    <div>
        <input name="email" type="email" class="form__input" placeholder="Email" required>
        <input name="login" type="text" class="form__input" placeholder="Login" required>
        <input name="password" type="password" class="form__input" placeholder="Password" required>
        <input name="check-password" type="password" class="form__input" placeholder="Confirm password" required>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Registration</button>
        <a class="btn" href="./auth.html">Login</a>
    </div>
</form>